Source: osso-systemui-devlock
Section: misc
Priority: optional
Maintainer: Oksana Tkachenko <oksana.a.tkachenko@gmail.com>
Build-Depends: debhelper (>= 5), pkg-config, libhildon1-dev, libgtk2.0-dev, libdbus-1-dev,
 libglib2.0-dev, osso-systemui-dev (>= 0.2.0), mce-dev (>=0.6), libosso-dev (>=2.23), libdevlock-dev, libcodelockui1-dev (>=1:1.6.17+0m5)
Standards-Version: 3.7.2

Package: osso-systemui-devlock
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, osso-systemui (>= 0.2.0.8), osso-system-lock-l10n-mr0 | osso-system-lock-l10n-mr
Description: Devicelock
 This package contains the devicelock.

Package: osso-systemui-devlock-dbg
Architecture: any
Section: devel
Depends: osso-systemui-devlock (= ${Source-Version})
Description: Devicelock debug symbls
 This package contains the devicelock debug symbols.
